# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# AI / ML models
*.pt
*.pth
*.bin
*.model
*.ckpt

# Data files
data/
datasets/

# Cache
.cache/

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp